.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__site-container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  max-width: 44px;
  max-height: 44px;
}

.header__menu-icon {
  width: 100%;
}

.header__date-location {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 20px 0 auto;
}

.header__add-clothes-btn {
  border: none;
  background-color: transparent;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
}

.header__close-btn {
  background-color: transparent;
  border: none;
  display: none;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 720px) {
  .header {
    position: relative;
    padding: 18px 0 16px;
  }

  .header__date-location {
    font-size: 16px;
    line-height: 1.25;
  }

  .header__menu-btn_visible {
    display: block;
    align-self: flex-end;
  }

  .header__user-container {
    display: none;
    width: 100%;
    height: 240px;
    position: absolute;
    top: 18px;
    z-index: 1;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 24px;
    background-color: #fff;
    box-shadow: 0 2px 8px #0000001a;
    border-radius: 10px;
    margin: 0;
  }

  .header__user-container_open {
    display: flex;
  }

  .header__close-btn {
    display: block;
    position: absolute;
    top: 11px;
    right: 11px;
  }

  .header__user-info {
    align-items: center;
    gap: 12px;
  }
}
